@media screen and (max-width:425px) {
    html {
        font-size: 21.5%;
    }
    #wel {
        margin-left: 8.5rem;
        margin-right: 8.5rem;
    }
    /* .co {
        font-size: 3.5rem;
    } */
    .whpara {
        padding-left: 0rem;
    }
    .img {
        width: 58vw;
    }
    .thank {
        font-size: 4rem;
    }
}